
*{
  box-sizing: border-box;
  
}
body {
  font-family: "Inter", sans-serif;
  background-color: #fff7ed;

}

.logo-circle {
  width: 45px;
  height: 45px;
  background: #ff6a00;
  border-radius: 50%;
  color: #fff;
  font-size: 22px;
}

.brand-title {
  font-size: 24px;
  
}

/* ---------- nav ---------- */
.nav-icon {
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

.nav-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ffb86a;

}
.box{
  box-shadow: 0px 0px #000;

}


.left-side img{
      height: 100%;
    width: 689px;
    object-fit: cover;
        border-radius: 26px;
}
.easytype .type1{
    font-size: 12px;
    font-weight: 600;
    background-color: #dcfce7;
    color: #008236;
    padding: 4px 7px;
    border-radius: 25px;
}
.easytype .type2{
  background-color: #dbeafe;
  color: #1447e6;
  font-size: 12px;
  font-weight: 600;
      padding: 4px 7px;
    border-radius: 25px;
}
.curry{
    font-size: 36px;

}
.caption{
      color: #4a5565;
    font-size: 18px;
    font-weight: 400;
}
.left-side {
  /* border-radius: 18px; */
  overflow: hidden;
        height: 96vh;


}
 .receipe:hover{
    transform: scale(1.2); 
    transition: 0.4s all;

}
.meal-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative
}

.curry {
  font-size: 36px;
  line-height: 1.2;
}

.caption {
  color: #4a5565;
  font-size: 18px;
  font-weight: 400;
}

.easytype span {
  font-size: 12px;
  font-weight: 600;
  padding: 6px 10px;
  border-radius: 25px;
}

.type1 {
  background-color: #dcfce7;
  color: #008236;
}

.type2 {
  background-color: #dbeafe;
  color: #1447e6;
}

.icon-btn {
  width: 42px;
  height: 42px;
  border-radius: 12px;
  border: none;
  background-color: #fff7f2;
  color: #ff7a2e;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ingredients-box {
  background-color: #fff7e6;
  border-right: 4px solid #ffb487;
  /* max-height: 320px; */
  overflow-y: scroll;
  border-radius: 12px;
}
.ingredients-box ul {
  list-style: none;
  padding: 0;
}
.ingredients-box li {
  padding: 8px 0;
  font-size: 16px;
  color: #444;
}

.meal .row {
  background: #fff;
  border-radius: 22px;
  padding: 0px 0 0px 0;
  box-shadow: 0 3px 15px rgba(0,0,0,0.08);
}

.right-side {
background: #fff;
    padding: 20px 0px 25px;
    margin-left: 29px;
    border-bottom: 1px solid #ebe6e7;
}

.curry {
  font-size: 34px;
  font-weight: 700;
  margin: 0;
}


.nav-tabs .nav-link {
  color: #444;
  font-size: 16px;
  font-weight: 500;
  border: none;
  padding-bottom: 14px;
}

.nav-tabs .nav-link.active {
  color: #ff7a2e;
  border-bottom: 3px solid #ff7a2e !important;
  background: none;
}

.ingredients-box {
  background: #fff7e6;
  border-right: 4px solid #ffd0b0;
  max-height: 300px;
  overflow-y: auto;
  padding: 15px 20px;
  border-radius: 16px;
}

.ingredients-box li {
      font-size: 15px;
    color: #364153;
    padding: 7px 0;
}
.numbers{
    background-color: #ff7a2e;
    border-radius: 50%;
    padding: 2px 8px;
    color: #fff;
        margin-right: 15px;
}
.receipe{
  background: linear-gradient(45deg,#f54a00,#e7000b);
  color: #fff;
  border: none;
    padding: 11px 32px;
    border-radius: 12px;
}

.rating{
      color: #fdc700;
    font-size: 14px;
}
.topbox{
background-color: #fff;
    border-radius: 33px;
    color: #000;
    bottom: 76%;
    left: 8%;
    padding: 9px 14px;
    font-size: 14px;

}
.rate-text1{
  font-size: 14px;
  font-weight: 600;
}
.inner-box{
position: absolute;
    top: 91%;
    left: 14%;
    width: 28%;
    border-radius: 3px;
            line-height: 10px;
    text-align: center;

}
 .innerbox1{
    line-height: 1px;
    padding: 20px;

}
.clock{
font-size: 23px;
    color: #ff6900;
}
.innerbox1 .second-text{
  color: #6a7282;
    font-size: 14px;
}
.users{
color: #2b7fff;
    font-size: 22px;
}
.prep{
 color: #6a7282;
 font-size: 14px;

}
.icons{
  color:#fb2c36;
  font-size: 22px;

}
.instructions-box,
.nutrition-box,
.tips-box {
  background: #fff;
  border-right: 4px solid #ffd0b0;
  max-height: 300px;
  overflow-y: auto;
  padding: 18px 25px;
  border-radius: 16px;
  margin-top: 10px;
}

.step-number {
background-color: #ff6900;
    color: #fff;
    width: 36px;
    height: 33px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 29%;
    margin-right: 4px;
    font-weight: bold;
    padding: 23px;
}
.tip-card {
  background: #fffcf2;
  border-left: 6px solid #ffb047;
  padding: 18px 20px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 18px;
}

.tip-icon {
  background: #ffb047;
  color: white;
  font-size: 16px;
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tip-text {
  font-size: 16px;
  color: #484848;
  margin: 0;
}

/* WRAPPER */
.tips-2 {
  padding: 0;
  
}

/* CARD */
.tip-card {
  background: #fff7e0;
  padding: 18px 22px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  margin-bottom: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

/* ORANGE CURVED RIGHT BORDER */
.tip-card::after {
  content: "";
  position: absolute;
  right: 0;
  top: 6px;
  height: 85%;
  width: 8px;
  background: #ffa857;
  border-radius: 10px 0 0 10px;
}

/* ICON */
.tip-icon {
  width: 40px;
  height: 40px;
  background: #ff8d34;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}

/* TEXT */
.tip-text {
  font-size: 16px;
  color: #333;
  margin: 0;
}
.tips-box2 p{
    background-color: #fffbeb;
    padding: 18px 16px;
    border-left: 4px solid #ffb900;
    border-radius: 12px;
}
.tips-box2 i{
    height: 22px;
    font-size: 10px;
    color: #fff;
    background-color: #e17100;
    padding: 7px 15px 6px 7px;
    border-radius: 50px;
}
.nutrition-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px;
  margin-top: 20px;
}

.nutri-card {
  background:#fbf9fa;
  padding: 18px 20px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.06);
  border: 1px solid #f3f3f3;
}

/* ICON BOX */
.nutri-icon {
    width: 43px;
    height: 43px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #fff;
}

.calories { background: #ffedd4; }
.protein  { background: #dbeafe; }
.carbs    {    background: #fef9c2;}
.fat      { background: #fe886a4d; }
.fiber    { background:#dcfce7;; }
.sodium   { background: #fce7f3; }

.calories i{
      color: #f54a00;
    font-size: 15px;
}

.carbs i{
  color: #d08700; 
  font-size: 14px;
}
.fiber i{
      color: #00a63e;
    font-size: 15px;
}
.protein i{
      color: #155dfc;

}
.fat i{
  color: #e7000b;
}
.sodium i{
  color: #e60076;
}
.nutri-title {
  margin: 0;
  font-size: 16px;
  color: #364153;
    font-weight: 500;
}

.nutri-value {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #101828;
}

.nutri-left {
  display: flex;
  align-items: center;
  gap: 14px;
}

.nutri-value {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  color: #000;
}
